In [3]:
import pandas as pd
from datetime import datetime

In [4]:
df = pd.read_csv('activity.csv').to_json(orient='records')
# postal = pd.read_csv('SG_postal.csv')
# activity_df = df.merge(postal, left_on='postalCode', right_on='postal_code', how='left')

In [5]:
def get_demographics_report(data, timeframe='monthly'):
    # Load data
    activity_df = pd.read_json(data)

    zones = pd.DataFrame({
    "Zone": ["City", "City", "South", "South", "West", "City", "City", "Central", "Central", "Central", 
             "Central", "Central", "East", "East", "East", "East", "East", "East", "North", "North",
             "West", "West", "West", "West", "North", "North", "North", "North"],
    "District": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28],
    "PostalBeginsWith": [
        "01, 02, 03, 04, 05, 06", "07, 08", "14, 15, 16", "09, 10", "11, 12, 13", "17", "18, 19", 
        "20, 21", "22, 23", "24, 25, 26, 27", "28, 29, 30", "31, 32, 33", "34, 35, 36, 37", "38, 39, 40, 41",
        "42, 43, 44, 45", "46, 47, 48", "49, 50, 81", "51, 52", "53, 54, 55, 82", "56, 57", "58, 59", 
        "60, 61, 62, 63, 64", "65, 66, 67, 68", "69, 70, 71", "72, 73", "77, 78", "75, 76", "79, 80"
    ]})
    # Extract the first two digits for mapping
    zones['PostalBeginsWith'] = zones['PostalBeginsWith'].apply(lambda x: [y[:2] for y in x.split(', ')])
    zones_exploded = zones.explode('PostalBeginsWith')

    activity_df['startTime'] = pd.to_datetime(activity_df['startTime'])
    activity_df['day'] = activity_df['startTime'].dt.day
    activity_df['year'] = activity_df['startTime'].dt.year
    activity_df['month'] = activity_df['startTime'].dt.month
    activity_df['quarter'] = activity_df['startTime'].dt.quarter
    activity_df['postalCodeFirstTwo'] = activity_df['postalCode'].astype(str).str.zfill(6).str[:2]
    activity_df = activity_df.merge(zones_exploded, how='left', left_on='postalCodeFirstTwo', right_on='PostalBeginsWith')
    activity_df['rowCount'] = 1


    # Convert boolean columns to integer type
    activity_df['drivingLicence'] = activity_df['drivingLicence'].astype(int)
    activity_df['pwdTrained'] = activity_df['pwdTrained'].astype(int)

    # Get dummies for categorical columns
    attendance_dummies = pd.get_dummies(activity_df['attendanceStatus'], prefix='attendance')
    tags_dummies = activity_df['tags'].str.get_dummies(sep=',')
    citizenship_dummies = pd.get_dummies(activity_df['citizenshipType'], prefix='citizenship')
    employment_dummies = pd.get_dummies(activity_df['employmentStatus'], prefix='employment')
    gender_dummies = pd.get_dummies(activity_df['gender'], prefix='gender')
    zone_dummies = pd.get_dummies(activity_df['Zone'], prefix='zone')

    current_year = pd.Timestamp('now').year
    activity_df['dateOfBirth'] = pd.to_datetime(activity_df['dateOfBirth'])
    activity_df['age'] = current_year - activity_df['dateOfBirth'].dt.year

    # Group age into categories and get dummies
    bins = [0, 13, 21, 50, 65, float('inf')]
    labels = ['under13', 'under21', 'under50', 'under65', 'over65']
    activity_df['ageGroup'] = pd.cut(activity_df['age'], bins=bins, labels=labels, right=False)
    age_group_dummies = pd.get_dummies(activity_df['ageGroup'])

    # Concatenate all dummies and the original DataFrame (excluding original categorical columns)
    final_df = pd.concat([
        activity_df.drop(['attendanceStatus','tags', 'citizenshipType', 'employmentStatus', 'gender', 'age', 'ageGroup', 'Zone'], axis=1),
        attendance_dummies, tags_dummies, citizenship_dummies, employment_dummies, gender_dummies, age_group_dummies, zone_dummies
    ], axis=1)

    # Group by year and month, and sum the numHours and other one-hot encoded columns
    if timeframe == 'annual':
        final_df = final_df.groupby(['year'])
    elif timeframe == 'quarterly':
        final_df = final_df.groupby(['year', 'quarter'])
    elif timeframe == 'monthly':
        final_df = final_df.groupby(['year', 'month'])
    elif timeframe == 'daily':
        final_df = final_df.groupby(['year', 'month', 'day'])
    else:
        raise ValueError('Invalid timeframe')

    summary = final_df.agg({
        'rowCount': 'count', #count number of records
        'numHours': 'sum',  # Sum numHours for total hours
        **{col: 'sum' for col in attendance_dummies.columns},  # Sum for each attendance status
        **{col: 'sum' for col in tags_dummies.columns},  # Sum for each tag column
        'drivingLicence': 'sum',
        'pwdTrained': 'sum',
        **{col: 'sum' for col in citizenship_dummies.columns},  # Sum for each citizenship status
        **{col: 'sum' for col in employment_dummies.columns},  # Sum for each employment status
        **{col: 'sum' for col in gender_dummies.columns},  # Sum for each gender
        **{col: 'sum' for col in age_group_dummies.columns},  # Sum for each age group
        **{col: 'sum' for col in zone_dummies.columns},  # Sum for each zone
    }).reset_index()

    return summary.to_json(orient='records')

In [6]:
get_demographics_report(df, 'annual')

'[{"year":2022,"rowCount":203,"numHours":562,"attendance_Absent":66,"attendance_Present":88,"attendance_Unconfirmed":49,"Accessibility":9,"Animals":18,"Arts":24,"Charity":47,"Children":45,"Cooking":30,"Digital":46,"Education":37,"Elderly":33,"Energy":34,"Environment":27,"Finance":29,"Food":40,"Health":0,"Heritage":26,"Income":10,"Legal":25,"Literacy":18,"Medical":0,"Overseas":27,"Parenting":25,"Plants":39,"Recovery":14,"Refugees":27,"Rehabilitation":18,"Rescue":8,"Sports":50,"Teaching":64,"Water":23,"drivingLicence":103,"pwdTrained":113,"citizenship_Employment Pass \\/ S Pass":52,"citizenship_Long Term Visit Pass":51,"citizenship_Singapore Permanent Resident":51,"citizenship_Singaporean":49,"employment_Employed \\/ Self- Employed":47,"employment_Other":45,"employment_Retired":49,"employment_Student":34,"employment_Unemployed":28,"gender_Female":73,"gender_Male":60,"gender_Other":70,"under13":79,"under21":95,"under50":29,"under65":0,"over65":0,"zone_Central":19,"zone_City":26,"zone_East":58,"zone_North":32,"zone_South":16,"zone_West":52},{"year":2023,"rowCount":155,"numHours":405,"attendance_Absent":48,"attendance_Present":56,"attendance_Unconfirmed":51,"Accessibility":15,"Animals":34,"Arts":28,"Charity":34,"Children":10,"Cooking":18,"Digital":41,"Education":15,"Elderly":8,"Energy":17,"Environment":45,"Finance":17,"Food":24,"Health":35,"Heritage":10,"Income":17,"Legal":0,"Literacy":23,"Medical":17,"Overseas":12,"Parenting":37,"Plants":22,"Recovery":0,"Refugees":32,"Rehabilitation":10,"Rescue":27,"Sports":17,"Teaching":26,"Water":17,"drivingLicence":84,"pwdTrained":85,"citizenship_Employment Pass \\/ S Pass":33,"citizenship_Long Term Visit Pass":49,"citizenship_Singapore Permanent Resident":43,"citizenship_Singaporean":30,"employment_Employed \\/ Self- Employed":32,"employment_Other":27,"employment_Retired":31,"employment_Student":40,"employment_Unemployed":25,"gender_Female":62,"gender_Male":52,"gender_Other":41,"under13":51,"under21":82,"under50":22,"under65":0,"over65":0,"zone_Central":30,"zone_City":24,"zone_East":35,"zone_North":17,"zone_South":9,"zone_West":40},{"year":2024,"rowCount":11,"numHours":44,"attendance_Absent":4,"attendance_Present":2,"attendance_Unconfirmed":5,"Accessibility":0,"Animals":0,"Arts":0,"Charity":0,"Children":5,"Cooking":0,"Digital":0,"Education":0,"Elderly":5,"Energy":0,"Environment":6,"Finance":6,"Food":0,"Health":0,"Heritage":0,"Income":5,"Legal":0,"Literacy":5,"Medical":0,"Overseas":0,"Parenting":6,"Plants":0,"Recovery":0,"Refugees":0,"Rehabilitation":0,"Rescue":0,"Sports":0,"Teaching":0,"Water":0,"drivingLicence":4,"pwdTrained":4,"citizenship_Employment Pass \\/ S Pass":2,"citizenship_Long Term Visit Pass":3,"citizenship_Singapore Permanent Resident":3,"citizenship_Singaporean":3,"employment_Employed \\/ Self- Employed":3,"employment_Other":2,"employment_Retired":2,"employment_Student":2,"employment_Unemployed":2,"gender_Female":6,"gender_Male":2,"gender_Other":3,"under13":2,"under21":6,"under50":3,"under65":0,"over65":0,"zone_Central":1,"zone_City":2,"zone_East":1,"zone_North":4,"zone_South":1,"zone_West":2}]'

In [13]:
import pandas as pd

def get_attendance_report(user_ids, data, timeframe='monthly'):
    # Load data
    activity_df = pd.read_json(data)

    # Filter DataFrame for the given user IDs
    activity_df = activity_df[activity_df['userId'].isin(user_ids)]
    
    user_details_columns = ['userId', 'fullName', 'employmentStatus', 'contactNumber', 'gender', 
                            'occupation', 'skills', 'declarations', 'drivingLicence', 'address', 
                            'pwdTrained', 'dateOfBirth']
    user_details_df = activity_df[user_details_columns].drop_duplicates(subset=['userId'])
    # Calculate age from dateOfBirth
    current_year = datetime.now().year
    user_details_df['dateOfBirth'] = pd.to_datetime(user_details_df['dateOfBirth'])
    user_details_df['age'] = current_year - user_details_df['dateOfBirth'].dt.year

    # Ensure startTime is in datetime format
    activity_df['startTime'] = pd.to_datetime(activity_df['startTime'])
    activity_df['year'] = activity_df['startTime'].dt.year
    activity_df['month'] = activity_df['startTime'].dt.month
    activity_df['quarter'] = activity_df['startTime'].dt.quarter
    activity_df['day'] = activity_df['startTime'].dt.day

    # Convert attendanceStatus to dummies
    attendance_status_dummies = pd.get_dummies(activity_df['attendanceStatus'], prefix='attendanceStatus')

    # Get dummies for tags
    tags_dummies = activity_df['tags'].str.get_dummies(sep=',')

    # Add a row count column for counting the number of events signed up
    activity_df['eventSignUpCount'] = 1

    # Concatenate dummies and the original DataFrame
    activity_df = pd.concat([
        activity_df[['userId', 'year', 'month', 'quarter', 'day', 'numHours', 'eventSignUpCount']],
        attendance_status_dummies,
        tags_dummies
    ], axis=1)

    # Define group by columns based on timeframe
    group_by_columns = ['userId', 'year', 'month', 'quarter', 'day']
    if timeframe == 'annual':
        group_by_columns = ['userId', 'year']
    elif timeframe == 'quarterly':
        group_by_columns = ['userId', 'year', 'quarter']
    elif timeframe == 'monthly':
        group_by_columns = ['userId', 'year', 'month']
    elif timeframe == 'daily':
        group_by_columns = ['userId', 'year', 'month', 'day']
    else:
        raise ValueError('Invalid timeframe specified')

    # Group by and summarize
    grouped_df = activity_df.groupby(group_by_columns).agg({
        'eventSignUpCount': 'sum',
        'numHours': 'sum',
        **{col: 'sum' for col in attendance_status_dummies.columns},
        **{col: 'sum' for col in tags_dummies.columns},
    }).reset_index()

    return grouped_df, user_details_df

In [20]:
example_users = ["65c1c5f0919469d96a250701", "65c1c5a1919469d96a24fdb5", "65c1c5fc919469d96a25088d", "65c1c5d7919469d96a2503f9"]
get_attendance_report(example_users, df, 'daily')[0]

,userId,year,month,day,eventSignUpCount,numHours,attendanceStatus_Absent,attendanceStatus_Present,attendanceStatus_Unconfirmed,Accessibility,...,Elderly,Environment,Finance,Food,Health,Income,Literacy,Parenting,Refugees,Teaching
0,65c1c5a1919469d96a24fdb5,2022,3,15,1,3,1,0,0,1,...,0,0,1,0,0,0,0,0,1,0
1,65c1c5a1919469d96a24fdb5,2023,1,31,1,1,0,0,1,0,...,0,1,0,1,1,0,0,1,0,0
2,65c1c5d7919469d96a2503f9,2023,11,14,1,5,0,1,0,0,...,1,1,0,0,0,0,0,0,0,1
3,65c1c5f0919469d96a250701,2024,1,2,1,4,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
4,65c1c5fc919469d96a25088d,2023,12,5,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [21]:
get_attendance_report(example_users, df, 'daily')[1]

,userId,fullName,employmentStatus,contactNumber,gender,occupation,skills,declarations,drivingLicence,address,pwdTrained,dateOfBirth,age
8,65c1c5f0919469d96a250701,Cornelius Metz-Kohler,Student,90059,Female,Corporate Data Analyst,innocent versus oh butler paragraph,Ager pauper autem currus vivo eius asperiores ...,False,7688 Prosacco Mission,False,2000-02-25 11:36:59.732000+00:00,24
16,65c1c5fc919469d96a25088d,Mallory Gleason,Student,23808,Other,National Program Engineer,yowza that aha quickly couch,Utique coerceo avarus alius collum vitiosus ad...,False,215 Maple Avenue,True,2017-01-29 14:20:08.036000+00:00,7
42,65c1c5d7919469d96a2503f9,Keyshawn Friesen,Employed / Self- Employed,72103,Other,Principal Metrics Executive,anenst eventually modulo scheme likewise,Victus statim vulariter sublime supra dolorem ...,True,20917 Grange Avenue,True,2004-12-13 17:43:55.279000+00:00,20
162,65c1c5a1919469d96a24fdb5,Neoma Connelly,Student,72318,Female,Chief Directives Assistant,adsorb apparel sick the easy,Tertius degero vilitas bonus conculco aptus.,True,7403 Rosalind Station,False,2005-10-15 22:52:12.813000+00:00,19

In [7]:
#pip install folium
import folium
from folium.plugins import HeatMap
import pandas as pd

df = activity_df
# Create a map centered around the average latitude and longitude
map_center_lat = df['lat'].mean()
map_center_lon = df['lon'].mean()
volunteer_map = folium.Map(location=[map_center_lat, map_center_lon], zoom_start=12)

# Aggregate hours by location
location_hours = df.groupby(['lat', 'lon'])['numHours'].sum().reset_index()

# Create a list of lists where each inner list contains the latitude, longitude, and weight (hours)
heat_data = [[row['lat'], row['lon'], row['numHours']] for index, row in location_hours.iterrows()]

# Create a heat map layer and add it to the map
HeatMap(heat_data).add_to(volunteer_map)

# Save the map to an HTML file
volunteer_map.save('volunteer_hours_distribution_map.html')

# Display the map in a Jupyter notebook (if you're using one, otherwise the map will be saved to the HTML file)
volunteer_map

In [4]:
# Save to CSV
monthly_summary.to_csv('monthly_summary.csv', index=False)